/* Basic Story Text */
.story,
.storytext,
.userstuff,
.fff_chapter,
.fff_titlepage {
	text-align: justify;
}
.story p,
.storytext p,
.userstuff p,
.fff_chapter p,
.fff_titlepage p {
	margin-top: 0;
	margin-bottom: 0;
	text-indent: 1em;
}

/* First Paragraph */
p.first,
.first p,
p.center,
.center p,
.noindent p,
p.noindent {
	text-indent: 0;
}

/* Hide */
.hide {
	display: none;
}

/* Alignment */
.center {
	text-align: center;
}
.right {
	text-align: right;
}

/* Bold/Italic */
.italic {
	font-style: italic;
}
.strong {
	font-weight: bold;
}
.u {
	text-decoration: underline;
}

/* Titles */
h1,
h2,
h3,
h4,
h6 {
	text-align: center;
}
h5 {
	font-style: italic;
	font-weight: normal;
	font-size: 100%;
	margin-top: 1.2em;
	margin-bottom: 0.8em;
}

/* Spacing */
.space-above,
p.space-above {
	margin-top: 1em;
}
.space-above-2,
p.space-above-2 {
	margin-top: 2em;
}
.space-below,
p.space-below {
	margin-bottom: 1em;
}
p.tab {
	margin-left: 2em;
	text-indent: 0;
}

/* Horizontal Line */
hr {
	border: 2px solid;
	margin-top: 1em;
	margin-bottom: 1em;
}

/* Image */
img {
	display: block;
	text-align: center;
	max-height: 100%;
	max-width: 100%;
	height: auto;
	width: auto;
}
p * img {
	display: inline;
}

/* Ordered List */
ol {
	margin: 1em;
}

/* Monospace */
.courier,
.font-courier,
.monospace,
.telegram {
	font-family: courier, monospace;
}

/* Section */
p.section-left,
p.section-center,
p.section-right {
	text-indent: 0;
}
.section-left {
	margin-right: 33%;
	text-indent: 0;
}
.section-center {
	margin-left: 16%;
	margin-right: 16%;
	text-indent: 0;
}
.section-right {
	margin-left: 33%;
	text-indent: 0;
}

/* Blockquotes */
blockquote {
	margin-left: 2em;
	margin-right: 2em;
}

/* Flashback */
.flashback * em > em {
	font-style: italic;
}

/* Lyrics */
blockquote.lyrics {
	margin-top: 0em;
	margin-bottom: 0em;
}

/* Newspaper */
.newspaper * em > em {
	font-style: italic;
}

/* Notes */
.fff_chapter_notes {
	display: none;
}
.fff_foot_notes {
	margin-top: 2em;
}
.fff_foot_notes * p {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	text-indent: 0;
}

/* Email */
.email {
	font-style: italic;
}
.email p {
	text-indent: 0;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}
.email p.address {
	font-style: normal;
	font-weight: bold;
}

/* Letter */
.letter {
	text-align: left;
	font-style: italic;
}
.letter p {
	text-indent: 0;
	margin-bottom: 0.4em;
}
.letter * em {
	text-decoration: underline;
}
.letter * strong {
	text-decoration: underline;
	font-weight: normal;
}

/* Quote Types */
.journal,
.telegram {
	text-align: left;
}
.poem,
.lyrics,
.newspaper,
.journal,
.textbook,
.flashback,
.italic {
	font-style: italic;
}
.poem p,
.lyrics p,
.newspaper p,
.journal p,
.textbook p,
.telegram p {
	text-indent: 0;
	margin-bottom: 0.4em;
}
.poem * em,
.lyrics * em,
.newspaper * em,
.journal * em,
.textbook * em,
em > em,
.flashback > em,
.flashback * em,
h5 * em,
.italic * em {
	font-style: normal;
}

/* Messages - Simple */
.message p,
p.message {
	padding-left: 1em;
	text-indent: -1em;
}
.message p.center {
	padding-left: 0em;
	text-indent: 0em;
	text-align: center;
}

/* Text Messages - Complex */
.phone {
	margin-bottom: 0.8em;
}
.phone p.header {
	text-indent: 0;
	text-align: center;
	font-weight: bold;
}
.phone p.text {
	text-indent: 0;
	text-align: left;
	margin-right: 20%;
}
.phone p.greply {
	text-indent: 0;
	text-align: right;
	margin-left: 20%;
}
.phone p.time {
	text-indent: 0;
	text-align: center;
	margin-bottom: 0.4em;
}
div.textlone,
p.textlone,
div.greplylone,
p.greplylone {
	margin: 0.4em 10%;
}
p.textlone,
div.textlone p {
	text-indent: 0;
	text-align: left;
}
p.greplylone,
div.greplylone p {
	text-indent: 0;
	text-align: right;
}
